{% extends "::base.html.twig" %}

{% block body %}
    <section id="main-contact">
        <h1 class="titleContact">Me contacter</h1>

        <div class="formContact">

            {% for message in app.flashes('notice') %}
                <div class="flash-notice">
                    {{ message }}
                </div>
            {% endfor %}


            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form'}}) }}

                <div class="nom">
                    <label for="{{ form.name.vars.id }}"></label>
                    <input type="text" name="{{ form.name.vars.full_name }}"
                           value="{{ form.name.vars.value }}" class="inputName"
                           id="{{ form.name.vars.id }}" placeholder="Votre nom" required>
                    <span class="errorName" aria-live="polite">{{ form_errors(form.name) }}</span>
                    {% do form.name.setRendered %}
                </div>

                <div class="email">
                    <label for="{{ form.email.vars.id }}"></label>
                    <input type="email" name="{{ form.email.vars.full_name }}"
                           value="{{ form.email.vars.value }}" class="inputMail"
                           id="{{ form.email.vars.id }}" placeholder="Votre email" required>
                    <span class="errorMail" aria-live="polite">{{ form_errors(form.email) }}</span>
                    {% do form.email.setRendered %}
                </div>

                <div class="message">
                    <label for="{{ form.message.vars.id }}"></label>
                    <textarea name="{{ form.message.vars.full_name }}" id="{{ form.message.vars.id }}"
                              value="{{ form.message.vars.value }}"
                              placeholder="Votre message ..." cols="30" rows="10" required></textarea>
                    <span class="errorMessage" aria-live="polite">{{ form_errors(form.message) }}</span>
                    {% do form.message.setRendered %}
                </div>

                <button type="submit" id="buttonInput">Envoyer</button>
            {{ form_end(form) }}
        </div>

        <div class="social">
            <h4>Réseaux sociaux</h4>
            <ul>
                <li><a href="{{ asset('https://www.linkedin.com/in/moussa-mourad-60a039b6/') }}" target="_blank"><img src="{{ asset('images/linkedin-icon.png') }}" alt="logo linkedin" title="linkedin"></a></li>
                <li><a href="{{ asset('https://www.viadeo.com/p/0021d07a4osxj7wu') }}" target="_blank"><img src="{{ asset('images/viadeo-icon.png') }}" alt="logo viadeo" title="viadeo"></a></li>
            </ul>
        </div>

        <div class="maps">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d21006.530076047686!2d2.5121793!3d48.84264335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1527374125872"
                    width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <!-- for pub: chocolat-->
        <div id="choco">
            <a href="http://www.anrdoezrs.net/click-8843287-10836037">
                <img src="http://www.ftjcfx.com/image-8843287-10836037" width="468" height="60" alt="468x60 Romantic Collection" border="0"/>
            </a>
        </div>
        <!-- end for pub: chocolat -->
    </section>
{% endblock %}
