<!DOCTYPE html>
<html>
    <head>
        <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=11">
        <![endif]-->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Dev-muss | Portfolio : Developpeur web full-stack{% endblock %}</title>
        <meta name="description" content="Passionné des nouvelles technologies, je me suis lancé dans le développement web pour créer ma première page web et c'est vite devenu la vraie raison des heures passées sur le web.">
        <meta name="keywords" content="developpeur web full-stack, developpeur web, integrateur web, developpeur web back-end, developpeur web front-end, developpeur integrateur web full-stack, developpeur d'application, developpeur d'application front-end,developpeur d'application back-end">
        <meta name="news_keywords" content="developpeur web, html,css,javascript,jquery,php,symfony,angular,sql, developpeur integrateur web full-stack, developpeur php,mysql,symfony,angular,javascript, developpeur web front-end, developpeur web back-end">
        <meta name="robots" content="index,follow">
        

        <!-- bing webmaster -->
        <meta name="msvalidate.01" content="77C70F6482C3730544AD17A95575F840" />
        <!-- end bing webmaster -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    </head>

    <body>
        <header id="top-level">
            <h1><a href="{{ path('home') }}">Dev-muss</a></h1>
            <nav id="nav-list">
                <ul>
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('moncontact') }}">Contact</a></li>
                    <li><a href="{{ path('moncv') }}">Cv</a></li>
                </ul>
            </nav>
        </header>
        <div id="container">
            {% block body %}{% endblock %}

            {% block footer %}
                <footer>
                    <p> &copy;  <a href="{{path('home')}}">Dev-muss</a> {{ "now"|date("Y") }} - Tous droits réservés. </p>
                    <nav class="lesmoteurs">
                        <h4>Nos amis</h4>
                        <ul>
                            <li><a href="https://www.google.com/" target="_blank"><img src="{{ asset('images/chrome.png') }}" alt="logo google" title="google"></a></li>
                            <li><a href="https://www.mozilla.org/fr/firefox/" target="_blank"><img src="{{ asset('images/firefox.png') }}" alt="logo firefox" title="firefox"></a></li>
                            <li><a href="https://support.microsoft.com/fr-fr" target="_blank"><img src="{{ asset('images/microsoft_edge.png') }}" alt="logo microsoft edge" title="microsoft edge"></a></li>
                            <li><a href="https://www.apple.com/fr/safari/" target="_blank"><img src="{{ asset('images/safari.png') }}" alt="logo safari" title="safari"></a></li>
                        </ul>
                    </nav>

                    <nav class="resaau">
                        <h4>Où me trouver ?</h4>
                        <ul>
                            <li><a href="{{ asset('https://www.linkedin.com/in/moussa-mourad-60a039b6/') }}" target="_blank"><img src="{{ asset('images/linkedin-icon.png') }}" alt="logo linkedin" title="linkedin"></a></li>
                            <li><a href="{{ asset('https://www.viadeo.com/p/0021d07a4osxj7wu') }}" target="_blank"><img src="{{ asset('images/viadeo-icon.png') }}" alt="logo viadeo" title="viadeo"></a></li>
                        </ul>
                    </nav>
                </footer>
            {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}
    </body>
</html>
