@import "../font/font.css";

html,body{
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
} 

*{ box-sizing: content-box; }


div#container{
    width: 80%;
    margin: auto;

    /*** TEST : FLEX BOX***/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

div#container section#main{
    width: 80%;
    /* margin: auto;  pour test */

    /*** TEST : FLEX BOX***/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

div#container section#main-contact{
    width: 80%;
    margin: auto;
}



/*********************************************************************
**                                COTE HEADER                   ******
******************************************************************** */
header#top-level{
    background: no-repeat url('../images/head.jpg');
    background-size: cover;
    border-bottom: #AAAAAA solid .5em;
    margin-top: -2em;
    padding: 2em;

    /*** TEST : FLEX BOX***/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

h1{
    font-family: "Biberon",Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    padding-top: .7em;
    
    text-shadow: 0px 4px 0px #000000;
}

h1 a{
    color: #FFFFFF;
    padding-left: 5em;
    text-decoration: none;
}

nav#nav-list{
    /*float: right;
    margin-top: -4.4em;
    margin-right: 21em;*/

    /*** TEST : FLEX BOX***/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

nav#nav-list ul{
    margin-left: 28em;
    /*** TEST : FLEX BOX***/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

nav#nav-list ul li{
    /**float: left;**/
    list-style-type: none;

}

nav#nav-list a{
    color: #FFFFFF;
    font-family: "Bebe",Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    padding: .3em;
    margin-left: .3em;
    text-decoration: none;
    text-shadow: 0px 1px 0px #FFFFFF;
    border: 2px solid #FFFFFF;
    -webkit-box-shadow: 0 5px 0 #AAAAAA;
            box-shadow: 0 5px 0 #AAAAAA;
    border-radius: .3em;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}


/***************************************************************
**                            APROPOS                        ***
***************************************************************/

.apropos{
    width: 80%;
    margin: auto;

    /*** TEST FLEX ****/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

div.apropos h3{
    color: #AAAAAA;
    font-family: "Biberon", Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    line-height: 1em;
    text-transform: uppercase;

    /*** TEST FLEX ****/
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

div.apropos h3::before{
    content: '-';
    color: #AAAAAA;
    margin-right: .3em;

    /*** TEST FLEX ****/
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
}

div.apropos h3::after{
    content: '-';
    color: #AAAAAA;
    margin-left: .3em;

    /*** TEST FLEX ****/
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}


/*******************************************************************
*****                     MY PICTURE : me                      *****
********************************************************************/

.apropos img#myPicture {
    background: url('../images/me.jpg') no-repeat;
    width: 29%;
    filter: contrast(150%);

    position: relative;
    left: 13%;
    margin-top: 7em;

    border: #AAAAAA solid .5em;
    z-index: 1;
}

div.apropos div.picture{
    /*** TEST FLEX ****/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.apropos blockquote p{
    background: #AAAAAA;
    /*** border: 1px solid #AAAAAA;  A VOIR
    border-radius: 50%; ***/
    color: #F5F5F5;
    font-family: "Bebe", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    height: 50%;
    padding: 3em 5em 3.6em 5em;
    width: 45%;

    /******* POUR AJOUTER UN CONTOUR AU BLOCKQUOTE ********/
    border: #dadada 8px solid;

    /*** TEST FLEX ****/
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: center;
        align-content: center;
}

.apropos blockquote{
    margin-left: 14em;
    margin-top: -16em;

    /*** TEST FLEX ****/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;

    /*** TEST  OMBRE ****/
    position: relative;
}

/*** TEST  OMBRE ****/
.apropos blockquote::before,
.apropos blockquote::after{
    position: absolute;
    content: "";
    bottom: 3em;
    left: 2.4em;
    width: 42%;
    top: 80%;
    max-width:300px;
    -webkit-box-shadow: 0 15px 10px #DDDDDD;
            box-shadow: 0 15px 10px #DDDDDD;
    -webkit-transform: rotate(-3deg);
        -ms-transform: rotate(-3deg);
            transform: rotate(-3deg);
}

.apropos blockquote::after{
    -webkit-transform: rotate(3deg);
        -ms-transform: rotate(3deg);
            transform: rotate(3deg);
    right: 41px;
    left: auto;
}



/******************************************
***           RESEAU SOCIAL             ***
*******************************************/
.sociaux{
    display: block;
    margin-top: -5em;
    margin-left: 2.3em;
}

.sociaux ul{
    display: block;
    float: left;
}

.sociaux ul li{
    list-style-type: none;
    margin-top: -3.87em;
    padding-left: 8.5em;
}

.sociaux h4{
    color: #F5F5F5;
    font-family: "Bebe", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 600;
    margin-left: 5.6em;
    line-height: 2em;
    text-decoration: underline;
}

span.sociaux ul li a img{
    width: 5%;
    float: left;
    margin-left: .5em;
    border: #dadada solid .1em;
}

/**********************************************************
**                       COTE LANGAGES                   **
***********************************************************/
div#container div.langages{
    width: 100%;
    margin: auto;
}

div.langages  h3.title{
    color: #AAAAAA;
    font-family: "Biberon", Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    line-height: 1em;

    text-transform: uppercase;
    text-shadow: 0px 1px 0px #000000;
}

div.langages h3.title::before{
    content: '-';
    color: #AAAAAA;
    margin-right: .3em;
}

div.langages h3.title::after{
    content: '-';
    color: #AAAAAA;
    margin-left: .3em;
}

div.html-css, div.js, div.bootstrap, div.php,
div.sql, div.seo, div.responsive, div.sf, div.angular{
    width: 30%;
    height: 11em;
    padding: .4em;

    line-height: 1em;
    background: -webkit-gradient(linear, left bottom, left top, from(#dfdfdf), to(#453c3c));
    background: -webkit-linear-gradient(bottom, #dfdfdf, #453c3c);
    background: -o-linear-gradient(bottom, #dfdfdf, #453c3c);
    background: linear-gradient(to top, #dfdfdf, #453c3c);
    border: #FFFFFF solid 2px;
    float: left;
    margin-left: .7em;


    /*** POUR EFFET COIN PLIE****/
    position: relative;

}

/************ POUR EFFET COIN PLIE *****************/
div.html-css::before, div.js::before, div.bootstrap::before, div.php::before,
div.sql::before, div.seo::before, div.responsive::before, div.sf::before, div.angular::before{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0px;
    border-color:   #AAAAAA #FFFFFF #FFFFFF #FFFFFF;
    border-style: solid;
    border-width: 2.3em 2.3em 0  0;
    height: 0px;
    width: 0px;
    display: block;
}


div.html-css p, div.js p, div.bootstrap p, div.php p,
div.sql p, div.seo p, div.responsive p, div.sf p, div.angular p{
    font-family: "Bebe", Helvetica, Arial ;
    font-weight: normal;
    font-size: 1.1em;
    color: #FFFFFF;
}

/*********************** TEST : BARRE PROGRESSION ****************/
div.langages div.html-css h4,div.langages div.js h4,div.langages div.bootstrap h4,
div.langages div.php h4, div.langages div.sql h4, div.langages div.seo h4,
div.langages div.responsive h4, div.langages div.sf h4, div.langages div.angular h4{
    color: #453c3c;
    font-family:  Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    text-transform: uppercase;


    text-shadow:
    1px 0 0 rgba(0, 0, 0, 0.8),
    1px 0 0 rgba(0, 0, 0, 0.8),
    0 -1px 0 rgba(0, 0, 0, 1),
    0 3px 0 rgba(0, 0, 0, 1);
}

div.progress{
    width: 97%;
    margin: auto;
}
progress{
    display: inline-block;
    /*-moz-box-sizing: border-box;*/
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 16em;
    height: 1.2em;
    padding: 3px 3px 2px 3px;
    /*background: #333;
    background: -webkit-linear-gradient(#2d2d2d,#444);
    background:    -moz-linear-gradient(#2d2d2d,#444);
    background:      -o-linear-gradient(#2d2d2d,#444);*/
    background:         grey; /*** linear-gradient(#2d2d2d,#444) ***/
    border: 2px solid rgba(0,0,0,.5);
    border-radius: 15px;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2);
            box-shadow: 0 1px 0 rgba(255,255,255,.2);

    -webkit-appearance: none;
}

/* Style de la barre pour Firefox*/
progress::-moz-progress-bar{
    border-radius:10px;
    background: #09C;
    background:
            repeating-linear-gradient(
                    45deg,
                    rgba(255,255,255,.2) 0,
                    rgba(255,255,255,.2) 10px,
                    rgba(255,255,255,0) 10px,
                    rgba(255,255,255,0) 20px
            ),
            linear-gradient(
                    rgba(255,255,255,.1) 50%,
                    rgba(255,255,255,0) 60%
            ),
            #09C;
    background-size: 300px 20px, auto, auto;
    background-position: -300px 0, top, top;
    background-position: top right, top, top;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 -1px 0 rgba(0,0,0,.8) inset,
    0 0 2px black;

}

/* Style de la barre pour Chrome*/
progress::-webkit-progress-value{
    border-radius:10px;
    background: transparent;
    background:
            repeating-linear-gradient(
                    45deg,
                    rgba(255,255,255,.2) 0,
                    rgba(255,255,255,.2) 10px,
                    rgba(255,255,255,0) 10px,
                    rgba(255,255,255,0) 20px
            ),
            -webkit-gradient(
                    linear,
                    left top, left bottom,
                    color-stop(50%, rgba(255,255,255,.1)),
                    color-stop(60%, rgba(255,255,255,0))
            ),
            #09c;
    background:
            -webkit-repeating-linear-gradient(
                    45deg,
                    rgba(255,255,255,.2) 0,
                    rgba(255,255,255,.2) 10px,
                    rgba(255,255,255,0) 10px,
                    rgba(255,255,255,0) 20px
            ),
            -webkit-linear-gradient(
                    rgba(255,255,255,.1) 50%,
                    rgba(255,255,255,0) 60%
            ),
            #09c;
    background:
            repeating-linear-gradient(
                    45deg,
                    rgba(255,255,255,.2) 0,
                    rgba(255,255,255,.2) 10px,
                    rgba(255,255,255,0) 10px,
                    rgba(255,255,255,0) 20px
            ),
            linear-gradient(
                    rgba(255,255,255,.1) 50%,
                    rgba(255,255,255,0) 60%
            ),
            #09c;
    background-size: 300px 20px, auto, auto;
    background-position: -300px 0, top, top;
    background-position: top right, top, top;
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 -1px 0 rgba(0,0,0,.8) inset,
    0 0 2px black;
            box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 -1px 0 rgba(0,0,0,.8) inset,
    0 0 2px black;
}


/*** Style de la barre pour Edge et explorer 11 ***/
progress::-ms-fill{
    border-radius:10px;
    background: transparent;
    background:
            repeating-linear-gradient(
                    45deg,
                    rgba(255,255,255,.2) 0,
                    rgba(255,255,255,.2) 10px,
                    rgba(255,255,255,0) 10px,
                    rgba(255,255,255,0) 20px
            ),
            linear-gradient(
                    rgba(255,255,255,.1) 50%,
                    rgba(255,255,255,0) 60%
            ),
            #09c;
    background-size: 300px 20px, auto, auto;
    background-position: -300px 0, top, top;
    background-position: top right, top, top;
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
    0 -1px 0 rgba(0,0,0,.8) inset,
    0 0 2px black;
}


/*
progress[value='100'] span{
    width: 100%;
}
progress[value^='9']:not([value^='9.']):not([value='9']) span{
    width: 95%;
}
progress[value^='8']:not([value^='8.']):not([value='8']) span{
    width: 85%;
}
progress[value^='7']:not([value^='7.']):not([value='7']) span{
    width: 75%;
}
progress[value^='6']:not([value^='6.']):not([value='6']) span{
    width: 65%;
}
progress[value^='5']:not([value^='5.']):not([value='5']) span{
    width: 55%;
}
progress[value^='4']:not([value^='4.']):not([value='4']) span{
    width: 45%;
}
progress[value^='3']:not([value^='3.']):not([value='3']) span{
    width: 35%;
}
progress[value^='2']:not([value^='2.']):not([value='2']) span{
    width: 25%;
}
progress[value^='1']:not([value^='1.']):not([value='1']):not([value='100']) span{
    width: 15%;
}

progress span{
    -webkit-transition: width 1.6s linear;
    -moz-transition: width 1.6s linear;
    -o-transition: width 1.6s linear;
    transition: width 1.6s linear;
}*/


/**********************************************************
**                       COTE EXPERIENCES PRO            **
***********************************************************/

section#main div#expePro{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

    width: 100%;
    margin: auto;
}

div#expePro h3.title{
    color: #AAAAAA;
    font-family: "Biberon", Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 900;
    text-align: center;
    line-height: 1em;
    border-bottom: rgba(225, 225, 225, .2) solid .1em;

    text-transform: uppercase;
    text-shadow: 0px 1px 0px #000000;
}

/************ LE CERCLE  **********/
div#expePro h3.title::before{
    content: "";
    background: #dadada;
    border: #f3f3f3 solid .1em;
    border-radius: 50%;
    height: 1.4em;

    position: absolute;
    right: 10.3em;
    width: 1.4em;

    z-index: -1;
}

div#expePro div.experience-01{
    background: #f3f3f3;
    -webkit-box-shadow: 0 0 .1em .2em rgba(223, 223, 223, .2);
            box-shadow: 0 0 .1em .2em rgba(223, 223, 223, .2);
    margin-bottom: 1em;
    padding: .5em;
    width: 46.5%;
}

/************* POUR LA PETITE FLECHE *********/
div#expePro div.experience-01::before{
    content: "";
    position: absolute;
    left: 43em;
    top: 87em;

    /* Astuce triangle */
    width: 0;
    height: 0;
    border-style:  solid;
    border-width: 1em;
    border-color: transparent transparent transparent rgba(223, 223, 223, .2);
}

div#expePro div.experience-02::before{
    content: "";
    position: absolute;
    left: 43em;
    top: 97em;

    /* Astuce triangle */
    width: 0;
    height: 0;
    border-style:  solid;
    border-width: 1em;
    border-color: transparent transparent transparent rgba(223, 223, 223, .2);
}

div#expePro div.experience-02{
    background: #f3f3f3;
    -webkit-box-shadow: 0 0 .1em .2em rgba(223, 223, 223, .2);
            box-shadow: 0 0 .1em .2em rgba(223, 223, 223, .2);
    padding: .5em;
    width: 46.5%;
}


div#expePro div.experience-01 h4,
div#expePro div.experience-02 h4{
    font-family: "Biberon", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

div#expePro div.experience-01 div.subtitle,
div#expePro div.experience-02 div.subtitle{
    font-family: "Bebe", Helvetica, Arial;
    font-size: 1.2em;
    font-weight: 600;
    line-height: .3em;
}

div#expePro div.experience-01 p,
div#expePro div.experience-02 p{
    font-family: "Bebe", Helvetica, Arial;
    font-size: 1em;
    font-weight: normal;
}

/**********************************************
***           COTE DES DATES              *****
**********************************************/
div#expePro div.pro-date{
    margin-top: -18em;
    border-left: #f9ecec dashed .2em;
    padding-left: 9em;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-item-align: end;
        align-self: flex-end;
}

div#expePro div.pro-date p.experience-01-date{
    background: -webkit-gradient(linear, left bottom, left top, from(#ff6666), to(#ff6633));
    background: -webkit-linear-gradient(bottom, #ff6666 0%, #ff6633 100%);
    background: -o-linear-gradient(bottom, #ff6666 0%, #ff6633 100%);
    background: linear-gradient(to top, #ff6666 0%, #ff6633 100%);
    border-radius: 1em;
    color: #FFFFFF;
    font-family: "Bebe", Helvetica, Arial;
    font-size: 1em;
    margin-top: 2em;
    padding: 1em;
    /*width: 40%;*/

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

div#expePro div.pro-date p.experience-01-date span.first,
div#expePro div.pro-date p.experience-01-date span.first-02{
    display: inline-block;
    width: 6em;
    padding: .3em;
}

div#expePro div.pro-date p.experience-02-date{
    background: -webkit-gradient(linear, left bottom, left top, from(#ff6666), to(#ff6633));
    background: -webkit-linear-gradient(bottom, #ff6666 0%, #ff6633 100%);
    background: -o-linear-gradient(bottom, #ff6666 0%, #ff6633 100%);
    background: linear-gradient(to top, #ff6666 0%, #ff6633 100%);
    border-radius: 1em;
    color: #FFFFFF;
    font-family: "Bebe", Helvetica, Arial;
    font-size: 1em;
    margin-top: 4em;
    padding: 1em;
    /*width: 40%;*/
}

/****************************************************
***                POINT DATE                   ****
****************************************************/
div#expePro div.pro-date p.experience-01-date::before{
    content: "";
    position: absolute;
    left: 54em;
    top: 98em;

    background: #ff6666;
    height: .5em;
    width: .5em;
}

div#expePro div.pro-date p.experience-02-date::before{
    content: "";
    position: absolute;
    left: 54em;
    top: 88em; 
    background: #ff6666;
    height: .5em;
    width: .5em;
}

/**********************************************************
**                       COTE REALISATION                **
***********************************************************/

section#main div#realiser{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

div#realiser h3.title{
    background: #FFFFFF;
    color: #AAAAAA;
    font-family: "Biberon", Arial, Helvetica, sans-serif;
    font-size: 3em;
    font-weight: 900;
    text-transform: uppercase;
    text-shadow: 0px 1px 0px #000000;
    display: inline-block;
    margin-left: 1.1em;
    margin-top: 2em;
    padding: 0 0 0 .3em;

    width: 72%;
}
div#realiser h3.title:before{
    content: "";
    background: -webkit-gradient(linear, left bottom, left top, from(#dfdfdf), to(#453c3c));
    background: -webkit-linear-gradient(bottom, #dfdfdf, #453c3c);
    background: -o-linear-gradient(bottom, #dfdfdf, #453c3c);
    background: linear-gradient(to top, #dfdfdf, #453c3c);
    height: .3em;
    width: 64%;
    position: absolute;
    top: 36em;
    left: 5.2em;

    z-index: -1;
}

section#main div#realiser  div.works{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
}

div#realiser div.works a.work{
    /*float: left;
    width: 50%;*/
    margin-right: -12em;

    text-decoration: none;
}

div#realiser div.works div.work-0 img,
div#realiser div.works div.work-1 img{
    width: 55%;
    height: 11em;
}

div#realiser div.works a.work h4.work-name{
    color: #6c6159;
    font-family: "Bebe", Helvetica, Arial;
    font-size: 1.2em;
    margin-top: .5em;
}

div#realiser div.works a.work p.work-tag{
    color: #AAAAAA;
    font-family: "Bebe", Helvetica, Arial;
    font-size: 1.2em;
    font-style: italic;
    line-height: 0;
    margin-top: -.5em;
}


/**********************************************************
**                       COTE FOOTER                     **
***********************************************************/
div#container footer{
    background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#FFFFFF));
    background: -webkit-linear-gradient(top, #dfdfdf, #FFFFFF);
    background: -o-linear-gradient(top, #dfdfdf, #FFFFFF);
    background: linear-gradient(to bottom, #dfdfdf, #FFFFFF);
    /*float: left;

    margin-left: 7em;*/
    margin-top: 5em;
    padding-bottom: 2em;
    width: 80%;

    -webkit-box-sizing: border-box;

            box-sizing: border-box;
}

div#container footer p{
    font-family: "Bebe", Helvetica, Arial;
    font-size: 1em;
    color: #6c6159;
    padding-left: 19em;
    width: 50%;
}

div#container footer p a{
    color: #6c6159;
    text-decoration: none;
}



***  RESEAUX SOCIAUX   ****
/**************************
***************************/
footer nav.resaau{
    float: left;
    line-height: 0;
    margin-top: -1em;
}

footer nav.resaau ul li{
    float: left;
    list-style-type: none;
}

footer nav.resaau ul li:first-child{
    padding-right: .4em;
}

footer nav.resaau h4{
    font-family: "Bebe", Helvetica, Arial;
    font-size: 1em;
    color: #6c6159;
    padding-left: 2.5em;
}

footer nav.resaau ul li img{
    width: 1.5em;
    height: 1.5em;
}

/*********************************
***  LES MOTEURS DE RECHERCHE  ***
**********************************/
footer nav.lesmoteurs{
    float: right;
    line-height: 0;
    margin-top: -1em;
}

footer nav.lesmoteurs h4{
    font-family: "Bebe", Helvetica, Arial;
    font-size: 1em;
    color: #6c6159;
    padding-left: 3em;
}

footer nav.lesmoteurs ul{
    padding-right: 2.5em;
}

footer nav.lesmoteurs ul li{
    float: left;
    list-style-type: none;
}

footer nav.lesmoteurs ul li a{
    padding-left: .3em;
}

footer nav.lesmoteurs ul li img{
    border-radius: 50%;
    width: 1.3em;
    height: 1.3em;
}

/*********************************************************************************************
******                                  COTE FORMULAIRE                                ******
**********************************************************************************************/
div#container h1.titleContact{
    font-family: "Bebe", Helvetica, Arial;
    font-size: 3.6em;
    color: #6c6159;
}

div#container div.nom input.inputName{
    border: #6c6159 solid .1em;
    padding: .6em;
    width: 19em;

    font-family: "Bebe", Helvetica, Arial;
    font-size: 1em;
    color: #6c6159;
    margin-bottom: 1em;
}

div#container div.email input.inputMail{
    border: #6c6159 solid .1em;
    padding: .6em;
    width: 19em;

    font-family: "Bebe", Helvetica, Arial;
    font-size: 1em;
    color: #6c6159;
    margin-bottom: 1em;
}

div#container div.formContact div.message textarea{
    border: #6c6159 solid .1em;
    padding: .6em;
    width: 19em;

    font-family: "Bebe", Helvetica, Arial;
    font-size: 1em;
    color: #6c6159;
    margin-bottom: 1em;
}

div#container div.formContact form button{
    padding: .6em;
    width: 20.7em;

    background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#453c3c));

    background: -webkit-linear-gradient(top, #dfdfdf, #453c3c);

    background: -o-linear-gradient(top, #dfdfdf, #453c3c);

    background: linear-gradient(to bottom, #dfdfdf, #453c3c);
    border: #FFFFFF solid .1em;
    cursor: pointer;
    font-family: "Bebe", Helvetica, Arial;
    font-size: 1em;
    color: #FFFFFF;
}


/****************************************
***         COTE RESEAUX             ***
****************************************/
div#container div.social{
    float: right;
    margin-top: -24em;
}

div#container div.social ul{
    padding-left: 22em;
}

div#container div.social ul li{
    float: right;
    list-style-type: none;

    position: relative;
    top: -3em;
}

div#container div.social ul li a img{
    height: 1.5em;
    width: 1.5em;
}

div#container div.social h4{
    color: #6c6159;
    border-top: #565656 solid .1em;

    font-family: "Bebe", Helvetica, Arial;
    font-size: 1.3em;
    font-style: italic;
    font-weight: 700;
}

/*********************************
***   COTE GOOGLE MAPS         ***
**********************************/
div#container div.maps{
    float: right;
    margin-top: -19em;
}

/**********************    COTE ERREORS  **************/
div.formContact form div.nom span.errorName{
    color: #AA3333;
    font-family: "Bebe", Helvetica, Arial;
    font-style: italic;
    font-size: .9em;
    font-weight: 700;

    position: absolute;
    left: 15em;
    top: 21.8em;
}

div.formContact form div.email span.errorMail{
    color: #AA3333;
    font-family: "Bebe", Helvetica, Arial;
    font-style: italic;
    font-size: .9em;
    font-weight: 700;

    position: absolute;
    left: 15em;
    top: 25.6em;
}

div.formContact form div.message span.errorMessage{
    color: #AA3333;
    font-family: "Bebe", Helvetica, Arial;
    font-style: italic;
    font-size: .9em;
    font-weight: 700;

    position: absolute;
    left: 15em;
    top: 29.3em;
}

div.formContact form div.email span.errorMail ul,
div.formContact form div.nom span.errorName ul,
div.formContact form div.message span.errorMessage ul{
    list-style-type: none;
}


/**** MESSAGE SUCCES ON SYMFONY ******/
.flash-notice{
    color: #f3f3f3;
    border: #718C00 solid .2em;
    background: #718C00;

    font-family: "Bebe", Helvetica, Arial;
    font-size: 1em;
    font-weight: 700;
    margin-bottom: 2em;
    padding: .3em;
    text-align: center;
    width: 35%;
}


/************* POUR LA PUB KING *************/
div#container div#king,div#container div#choco{
    margin: auto;
    width: 59%;
}


/************************************************************************************************
**************************     MEDIA QUERY WIDTH : 1050px                       *****************
*************************************************************************************************/

@media screen and (max-width: 1050px){

    html, body {
        width: auto;

        /* test*/
        background: #718C00;
        display: flex;
        flex-wrap: wrap;
    }

    div#container{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        display: -webkit-box;
        display: -ms-flexbox;

        width: auto;
        display: flex;
        justify-content: center;
    }

    div#container section#main{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }


    /*********************************************************************
     **                                COTE HEADER                  ******
     ******************************************************************** */
    header#top-level {
        background: url('../images/head.jpg') no-repeat;
        border-bottom: #AAAAAA solid .5em;
        /* margin-top: -2em;
        padding: 2em;  pour test */

        display: flex;
        flex-flow: row;

    }

    h1 {
        font-family: "Biberon", Arial, Helvetica, sans-serif;
        /* font-size: 2.5em;
         padding-top: .7em;  pour test */
    }

    h1 a {
        color: #dadada;
        /* padding-left: 4em; */
        text-decoration: none;
        padding: 0;
    }

    nav#nav-list {
        /* float: right;
        margin-top: -4.4em;
        margin-right: 12em; */
        display: flex;
        align-items: flex-end;
    }

    /***************************************************************
    **                   MY PICTURE : me                         ***
     ***************************************************************/
    div#container div.apropos{
        /* width: auto; 
        -webkit-box-sizing: border-box;
                box-sizing: border-box; pour test */

        display: flex;
        flex-direction: column;

        margin-top: 3em;
    }

    .apropos img#myPicture {
        background: url('../images/me.jpg') no-repeat;
        /* border-radius: 100%; */
        width: 22%;

        /* position: relative;
        left: 23%; 
        margin-bottom: -7em;
        margin-top: 6em; */

        border: #AAAAAA solid .5em;
    }

    .apropos blockquote{
        /* display: flex;
        flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        margin-top: auto; pour test */
        width: 85%; 

        display: flex;
        flex-direction: column;
        margin-top: -14.6em;
        /* flex-wrap: nowrap;
        justify-content: center;
        align-items: stretch;
        align-content: stretch; */
    }

    .apropos blockquote::before{
        position: absolute;
        content: "";
        bottom: 3em;
        left: 0;
        width: 28%;
        top: 80%;
        /* max-width:300px; */
        -webkit-box-shadow: 0 15px 10px #DDDDDD;
                box-shadow: 0 15px 9px #DDDDDD;
        -webkit-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
                transform: rotate(-3deg);
    }

    .apropos blockquote::after{
        position: absolute;
        content: "";
        bottom: 3em;
        left: 9em;
        width: 33%;
        top: 80%;
        /* max-width:300px; */
        -webkit-box-shadow: 0 15px 10px #DDDDDD;
                box-shadow: 0 15px 10px #DDDDDD;
        -webkit-transform: rotate(-3deg);
            -ms-transform: rotate(-3deg);
                transform: rotate(2deg);
    }

    .apropos blockquote p {
        background: #AAAAAA;
        /*** border: 1px solid #AAAAAA;  A VOIR ***/
        /* border-radius: 50%; */
        color: #F5F5F5;
        font-family: "Bebe", Arial, Helvetica, sans-serif;
        font-size: 1.2em;
        font-weight: 600;
        /* height: 50%; */
        padding: 1em 1em 2em 2em;
        /* width: 45%; */

        /******* POUR AJOUTER UN CONTOUR AU BLOCKQUOTE ********/
        border: #dadada 8px solid;
    }

    /******************************************
    ***           RESEAU SOCIAL             ***
    *******************************************/
    .sociaux {
        display: flex;
        flex-wrap: wrap;
        margin-left: -2.5em;
    }

    span.sociaux ul li a img {
        width: 4.4%;
        /* float: left;
        margin-left: .5em;
        border: #dadada solid .1em; */
    }

    
    /******************************************
    ***           RESEAU SOCIAL             ***
    *******************************************/
    div.progress{
        width: 97%;
        margin: auto;
    }

    progress{
        display: inline-block;
        /*-moz-box-sizing: border-box;*/
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        width: 14.6em;
        height: 1.2em;
        padding: 3px 3px 2px 3px;
        /*background: #333;
        background: -webkit-linear-gradient(#2d2d2d,#444);
        background:    -moz-linear-gradient(#2d2d2d,#444);
        background:      -o-linear-gradient(#2d2d2d,#444);*/
        background:         grey; /*** linear-gradient(#2d2d2d,#444) ***/
        border: 2px solid rgba(0,0,0,.5);
        border-radius: 15px;
        -webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2);
                box-shadow: 0 1px 0 rgba(255,255,255,.2);
    
        -webkit-appearance: none;
    }

    /**********************************************************
    **                       COTE LANGAGES                   **
    ***********************************************************/
    div#container div.langages {
        width: auto;
    }

    div.html-css, div.js, div.bootstrap, div.php,
    div.sql, div.seo, div.responsive, div.sf, div.angular {
        width: 29%;
        height: 13em;
        padding: .5em;

        line-height: .8em;
        background: -webkit-gradient(linear, left bottom, left top, from(#dfdfdf), to(#453c3c));
        background: -webkit-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: -o-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: linear-gradient(to top, #dfdfdf, #453c3c);
        border: #FFFFFF solid 2px;
        border-radius: 0 0 3em 0;
        float: left;
    }

    div.html-css h4, div.js h4, div.bootstrap h4, div.php h4,
    div.sql h4, div.seo h4, div.responsive h4, div.sf h4, div.angular h4{
          font-stretch: extra-condensed;
    }

    div.html-css p, div.js p, div.bootstrap p, div.php p,
    div.sql p, div.seo p, div.responsive p, div.sf p, div.angular p {
        font-family: "Bebe", Helvetica, Arial;
        font-weight: normal;
        font-size: 1em;
        color: #FFFFFF;
    }

    /**********************************************************
    **                       COTE EXPERIENCES PRO            **
    ***********************************************************/
    div#container div#expePro{
        display: flex;
        flex-direction: column;
        -ms-flex-direction: column;
    }

    /************ LE CERCLE  **********/
    div#expePro h3.title:before{
        content: "";
        background: #dadada;
        border: #f3f3f3 solid .1em;
        border-radius: 50%;
        height: 1.4em;
        
        /* position: absolute;
        right: 6em;
        top: 28em;  Pour test */

        display: inline-block;
        position: relative;
        right: -9em;
        top: .6em;

        width: 1.4em;

        z-index: -1;
    }

    /************* POUR LE CONTENU COTE EXPERIENCE *********/
    div#expePro div.experience-01,
    div#expePro div.experience-02{
        background: #f3f3f3;
        -webkit-box-shadow: 0 0 .1em .2em rgba(223, 223, 223, .2);
                box-shadow: 0 0 .1em .2em rgba(223, 223, 223, .2);
        /* margin-bottom: 1em;
        padding: .5em;
        width: 46.5%;  POUR TEST */

        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    /* div#expePro div.experience-02{
        background: #f3f3f3;
        -webkit-box-shadow: 0 0 .1em .2em rgba(223, 223, 223, .2);
                box-shadow: 0 0 .1em .2em rgba(223, 223, 223, .2);
        padding: .5em;
        width: 46.5%;
    } */

    div#expePro div.experience-01 h4,
    div#expePro div.experience-02 h4{
    font-family: "Biberon", Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
}

    /************* POUR LA PETITE FLECHE *********/
    div#expePro div.experience-01:before{
        content: "";
        /* position: absolute;
        left: 32.6em;
        top: 112.4em; Pour test */

        display: inline-block;
        position: relative;
        left: 24.6rem;
        top: 4rem;

        /* Astuce triangle */
        width: 0;
        height: 0;
        border-width: 1em;
        border-style:  solid;
        border-color: transparent transparent transparent rgba(223, 223, 223, .2);
    }

    div#expePro div.experience-02:before{
        content: "";
        /* position: absolute;
        left: 32.6em;
        top: 122.7em;  Pour test */

        display: inline-block;
        position: relative;
        left: 24.6rem;
        top: 4rem;

        /* Astuce triangle */
        width: 0;
        height: 0;
        border-width: 1em;
        border-style:  solid;
        border-color: transparent transparent transparent rgba(223, 223, 223, .2);
    }

    /****************   BARRE VERTICALE *****************/
    div#expePro div.pro-date{
        /* float: right;
        margin-top: -18em;
        border-left: #f9ecec dashed.2em;
        height: 17em;
        padding-left: 2.2em; */

        display: flex;
        flex-direction: column;
        /* align-items: flex-end; */
        justify-content: space-between;
        height: 23em;
        margin-top: -23em;
    }

    /****************************************************
    ***                POINT DATE                   ****
    ****************************************************/
    div#expePro div.pro-date p.experience-01-date::before{
        content: "";
        position: relative;
        left: -10.3em;
        top: 1em;
        background: #ff6666;
        height: .5em;
        width: .5em;
    }

    div#expePro div.pro-date p.experience-02-date::before{
        content: "";
        position: relative;
        left: -10.3em;
        top: 0;
        display: inline-block;

        background: #ff6666;
        height: .5em;
        width: .5em;
    }

    div#expePro div.pro-date p.experience-02-date{
        margin-bottom: 4em;
    }

    div#expePro div.pro-date p.experience-01-date{
        background: -webkit-gradient(linear, left bottom, left top, from(#ff6666), to(#ff6633));
        background: -webkit-linear-gradient(bottom, #ff6666 0%, #ff6633 100%);
        background: -o-linear-gradient(bottom, #ff6666 0%, #ff6633 100%);
        background: linear-gradient(to top, #ff6666 0%, #ff6633 100%);
        border-radius: 1em;
        color: #FFFFFF;
        font-family: "Bebe", Helvetica, Arial;
        font-size: 1em;
        margin-top: 3em;
        /* padding: 1em;
        width: 40%; */

        display: flex;
        flex-direction: column;
    }

    /**********************************************************
    **                       COTE REALISATION                **
    ***********************************************************/
    div#realiser div#realiser{
        width: auto;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    div#realiser h3.title{
        margin-top: 2em;
        padding: 0 .3em 0 .3em;
    }

    div#realiser h3.title:before{
        content: "";
        background: -webkit-gradient(linear, left bottom, left top, from(#dfdfdf), to(#453c3c));
        background: -webkit-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: -o-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: linear-gradient(to top, #dfdfdf, #453c3c);
        height: .3em;
        width: 66%;
        position: absolute;
        top: 45.4em;
        left: 3.9em;

        z-index: -1;
    }

    div#realiser div.works a.work{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;

        float: left;
        width: 60%;
        margin-right: -11em;
        text-decoration: none;
    }

    /**********************************************************
    **                       COTE FOOTER                     **
    ***********************************************************/
    div#container div#footer{
        background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#FFFFFF));
        background: -webkit-linear-gradient(top, #dfdfdf, #FFFFFF);
        background: -o-linear-gradient(top, #dfdfdf, #FFFFFF);
        background: linear-gradient(to bottom, #dfdfdf, #FFFFFF);
        float: left;
        margin-left: 5em;
        padding-bottom: 2em;
        width: 85%;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
    }

    div#container div#footer p{
        font-family: "Bebe", Helvetica, Arial;
        font-size: 1em;
        color: #6c6159;
        padding-left: 13em;
        width: 50%;
    }

    /**********************************************
    ***      COTE FORMULAIRE : RESEAUX           ***
    ************************************************/
    div#container div.social{
        float: right;
        margin-top: -24em;
        margin-right: -6em;
    }

    div#container div.social ul{
        padding-left: 22em;
    }

    /*********************************
    ***   COTE GOOGLE MAPS         ***
    **********************************/
    div#container div.maps{
        float: right;
        margin-top: -19em;

        width: 300px;
        height: 300px;

    }
}

/*************************************************************************************************
******************                 MEDIA QUERY WIDTH : 1024px       ******************************
*************************************************************************************************/
@media all and (max-width: 1024px){

    /**************** COTE EXPERIENCES PRO  ****************/

    div#realiser h3.title{
        margin-top: 2em;
        padding: 0 .3em 0 .3em;
    }

    div#realiser h3.title:before{
        content: "";
        background: -webkit-gradient(linear, left bottom, left top, from(#dfdfdf), to(#453c3c));
        background: -webkit-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: -o-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: linear-gradient(to top, #dfdfdf, #453c3c);
        height: .3em;
        width: 66%;
        position: absolute;
        top: 45.4em;
        left: 3.9em;

        z-index: -1;
    }

    /******* POUR LA PETITE FLECHE *******/
    div#expePro div.experience-01:before{
        content: "";
        position: absolute;
        left: 31.9em;
        top: 113em;


        /* Astuce triangle */
        width: 0;
        height: 0;
        border-width: 1em;
        border-style:  solid;
        border-color: transparent transparent transparent rgba(223, 223, 223, .2);
    }

    div#expePro div.experience-02:before{
        content: "";
        position: absolute;
        left: 31.9em;
        top: 123.7em;


        /* Astuce triangle */
        width: 0;
        height: 0;
        border-width: 1em;
        border-style:  solid;
        border-color: transparent transparent transparent rgba(223, 223, 223, .2);
    }

    /****************   BARRE VERTICALE *****************/
    div#expePro div.pro-date{
        float: right;
        margin-top: -19em;
        border-left: #f9ecec dashed.2em;
        height: 18em;
        padding-left: 0;
    }

    /*************** POINT DATE  **********************/
    div#expePro div.pro-date p.experience-01-date:before{
        content: "";
        position: absolute;
        left: 35.8em;
        top: 113.8em;

        background: #ff6666;
        border-radius: 45%;
        height: .5em;
        width: .5em;
    }

    div#expePro div.pro-date p.experience-02-date:before{
        content: "";
        position: absolute;
        left: 35.8em;
        top: 124.6em;

        background: #ff6666;
        border-radius: 45%;
        height: .5em;
        width: .5em;
    }

    div#expePro div.pro-date p.experience-01-date{
        margin-top: 1em;
    }

    div#expePro div.pro-date p.experience-02-date{
        margin-top: 6.8em;
    }

    /**** POUR AJUSTER LA BARRE VERTICALE AUX POINTS  ****/
    div#expePro div.pro-date p{
        margin-left: .9em;
    }

    /************* COTE REALISATION  *******************/
    div#realiser h3.title:before{
        content: "";
        background: -webkit-gradient(linear, left bottom, left top, from(#dfdfdf), to(#453c3c));
        background: -webkit-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: -o-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: linear-gradient(to top, #dfdfdf, #453c3c);
        height: .3em;
        width: 66%;
        position: absolute;
        top: 45.7em;
        left: 3.9em;

        z-index: -1;
    }

    /************* COTE FORMULAIRE  *******************/
    div#container div.formContact{
        margin-left: -1em;
    }

    /************ COTE REALISATION ******************/
    div#realiser div.works a.work{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;

        float: left;
        width: 60%;
        margin-right: -10.6em;
        text-decoration: none;
    }
}

/*************************************************************************************************
******************                 MEDIA QUERY WIDTH : 768px       ******************************
*************************************************************************************************/
@media all and (max-width: 768px){

    /***********     COTE HEADER *************/
    div#header {
        background: url('../images/head.jpg') no-repeat;
        border-bottom: #AAAAAA solid .5em;
        margin-top: -2em;
        padding: 2em;

        -webkit-box-sizing: content-box;

                box-sizing: content-box;
    }

    h1 a {
        color: #dadada;
        padding-left: 2em;
        text-decoration: none;
    }

    div#header div#nav {
        float: right;
        margin-top: -4.4em;
        margin-right: 8em;
    }

    /*******     MY PICTURE : ME *************/
    div#container div.apropos{
        width: auto;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
    }

    .apropos img#myPicture {
        background: url('../images/me.jpg') no-repeat;
        border-radius: 100%;
        width: 25%;

        position: relative;
        left: 11%;
        margin-bottom: -8em;
        margin-top: 6em;

        border: #AAAAAA solid .5em;
    }

    .apropos blockquote p {
        background: #AAAAAA;
        /*** border: 1px solid #AAAAAA;  A VOIR ***/
        border-radius: 50%;
        color: #F5F5F5;
        font-family: "Bebe", Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: 600;
        padding: 3em 4em 3.6em 4em;
        margin-left: -2em;
        width: 49%;

        /******* POUR AJOUTER UN CONTOUR AU BLOCKQUOTE ********/
        border: #dadada 8px solid;
    }

    /*********    COTE RESEAUX SOCIAUX ***********/
    div.apropos div#container-picture blockquote span.sociaux {
        display: block;
        margin-top: -5em;
        margin-left: -3em;
    }

    div.apropos div#container-picture blockquote span.sociaux ul li a img {
        width: 7%;
        float: left;
        margin-left: .2em;
        border: #dadada solid .1em;
    }

    /***************     COTE LANGAGES  ***********************/
    div#container div.langages h3.title{
        width: 11em;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    div.html-css, div.js, div.bootstrap, div.php,
    div.sql, div.seo, div.responsive, div.sf, div.angular {
        width: 29.2%;
        height: 15.7em;
        padding: .5em;

        line-height: .8em;
        background: -webkit-gradient(linear, left bottom, left top, from(#dfdfdf), to(#453c3c));
        background: -webkit-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: -o-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: linear-gradient(to top, #dfdfdf, #453c3c);
        border: #FFFFFF solid 2px;
        border-radius: 0 0 3em 0;
        float: left;
    }

    /****************** COTE EXPERIENCES ***********************/
    div#container div#expePro{
        width: auto;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
    }

    div#expePro h3.title{
        color: #AAAAAA;
        font-family: "Biberon", Arial, Helvetica, sans-serif;
        font-size: 3em;
        font-weight: 900;
        text-align: center;
        line-height: 1em;
        border-bottom: rgba(225, 225, 225, .4) solid .1em;
        padding-top: 18em;
        text-transform: uppercase;
    }

    /************ LE CERCLE  **********/
    div#expePro h3.title:before{
        content: "";
        background: #dadada;
        border: #f3f3f3 solid .1em;
        border-radius: 50%;
        height: 1.4em;

        position: absolute;
        right: 7.3em;
        top: 34.5em;
        width: 1.4em;

        z-index: -1;
    }

    div#expePro div.pro-date p.experience-01-date,
    div#expePro div.pro-date p.experience-02-date{
        margin-right: -6em;
        width: 50%;
    }

    /****************   BARRE VERTICALE *****************/
    div#expePro div.pro-date{
        float: right;
        margin-top: -19em;
        border-left: #f9ecec dashed.2em;
        height: 18em;
        padding-left: 0;

        width: auto;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
    }

    /******* POUR LA PETITE FLECHE *******/
    div#expePro div.experience-01:before{
        content: "";
        position: absolute;
        left: 24.2em;
        top: 118em;


        /* Astuce triangle */
        width: 0;
        height: 0;
        border-width: 1em;
        border-style:  solid;
        border-color: transparent transparent transparent rgba(223, 223, 223, .2);
    }

    div#expePro div.experience-02:before{
        content: "";
        position: absolute;
        left: 24.2em;
        top: 128em;

        /* Astuce triangle */
        width: 0;
        height: 0;
        border-width: 1em;
        border-style:  solid;
        border-color: transparent transparent transparent rgba(223, 223, 223, .2);
    }

    /*************** POINT DATE  **********************/
    div#expePro div.pro-date p.experience-01-date:before{
        content: "";
        position: absolute;
        left: 28.6em;
        top: 119em;

        background: #ff6666;
        border-radius: 45%;
        height: .5em;
        width: .5em;
    }

    div#expePro div.pro-date p.experience-02-date:before{
        content: "";
        position: absolute;
        left: 28.6em;
        top: 129em;

        background: #ff6666;
        border-radius: 45%;
        height: .5em;
        width: .5em;
    }

    div#expePro div.pro-date p.experience-01-date{
        margin-top: 2em;
    }

    div#expePro div.pro-date p.experience-02-date{
        margin-top: 5.6em;
    }


    /****************** COTE REALISATIONS ***********************/
    div#container div#realiser h3.title{
        margin-top: 1.1em;
        padding: 0 0 0 .1em;
        width: 10em;
    }

    div#realiser h3.title:before{
        content: "";
        background: -webkit-gradient(linear, left bottom, left top, from(#dfdfdf), to(#453c3c));
        background: -webkit-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: -o-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: linear-gradient(to top, #dfdfdf, #453c3c);
        height: .3em;
        width: 73%;
        position: absolute;
        top: 46.3em;
        left: 2.9em;

        z-index: -1;
    }

    div#realiser div.works a.work{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        float: left;
        width: 79%;
        text-decoration: none;
    }

    /*************         COTE FOOTER  *****************/
    div#container div#footer{
        background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#453c3c));
        background: -webkit-linear-gradient(top, #dfdfdf, #453c3c);
        background: -o-linear-gradient(top, #dfdfdf, #453c3c);
        background: linear-gradient(to bottom, #dfdfdf, #453c3c);
        float: left;
        margin-left: 3em;
        padding-bottom: 2em;
        width: 85%;
    }

    div#container div#footer p{
        font-family: "Bebe", Helvetica, Arial;
        font-size: 1em;
        color: #6c6159;
        padding-left: 8.6em;
        width: 50%;
    }

    /*************      COTE FORMULAIRE : CONTACT *************/
    div#container div.formContact{
        margin-left: -8em;
    }

    div#container h1.titleContact{
        color: #6c6159;
        font-family: "Bebe", Helvetica, Arial;
        font-size: 3.6em;

        margin-left: -2.1em;
    }

    div#container div.social{
        float: right;
        margin-top: -23.5em;
        margin-right: -8em;
    }


    /************    GOOGLE MAPS  ****************************/
    div#container div.maps{
        float: right;
        margin-top: -19em;

        width: 55%;
        height: 50%;

    }

    /**********************    COTE ERREOR   **************/
    div.formContact form div.nom span.errorName{
        color: #AA3333;
        font-family: "Bebe", Helvetica, Arial;
        font-style: italic;
        font-size: .9em;
        font-weight: 700;

        position: absolute;
        left: -2em;
        top: 21.8em; 
    }

    div.formContact form div.email span.errorMail{
        color: #AA3333;
        font-family: "Bebe", Helvetica, Arial;
        font-style: italic;
        font-size: .9em;
        font-weight: 700;

        position: absolute;
        left: -2em;
        top: 25.6em;
    }

    div.formContact form div.message span.errorMessage{
        color: #AA3333;
        font-family: "Bebe", Helvetica, Arial;
        font-style: italic;
        font-size: .9em;
        font-weight: 700;

        position: absolute;
        left: -2em;
        top: 29.3em;
    }

    div.formContact form div.email span.errorMail ul,
    div.formContact form div.nom span.errorName ul,
    div.formContact form div.message span.errorMessage ul{
        list-style-type: none;
    }


}

/*************************************************************************************************
******************                 MEDIA QUERY WIDTH : 414px ( Iphone 6-7-8 plus ) ***************
*************************************************************************************************/
@media all and (max-width: 414px){

    div#container{
        width: auto;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
    }

    /************   COTE HEADER   **********************/
    div#header{
        background: url('../images/head.jpg') no-repeat;
        border-bottom: #AAAAAA solid .5em;
        margin-top: -2em;
        padding: 2em;

        -webkit-box-sizing: border-box;

                box-sizing: border-box;
        width: 44em;
    }

    h1{
        font-family: "Biberon",Arial, Helvetica, sans-serif;
        font-size: 2.5em;
        padding-top: .7em;
    }

    h1 a{
        color: #dadada;
        padding-left: 0;
        text-decoration: none;
    }

    div#header div#nav{
        float: right;
        margin-top: -4.4em;
        margin-right: 1em;
    }

    #nav ul li{
        float: left;
        list-style-type: none;
    }

    #nav ul li a{
        color: #dadada;
        font-family: "Bebe",Arial, Helvetica, sans-serif;
        font-size: 1.5em;
        padding: .3em;
        margin-left: .3em;
        text-decoration: none;
        border: 2px solid #dadada;
    }

    /*******     MY PICTURE : ME *************/
    div#container div.apropos{
        width: auto;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
    }

    .apropos img#myPicture {
        background: url('../images/me.jpg') no-repeat;
        border-radius: 100%;
        width: 25%;

        position: relative;
        left: 22%;
        margin-bottom: -8em;
        margin-top: 6em;

        border: #AAAAAA solid .5em;
    }

    .apropos blockquote p {
        background: #AAAAAA;
        /*** border: 1px solid #AAAAAA;  A VOIR ***/
        border-radius: 50%;
        color: #F5F5F5;
        font-family: "Bebe", Arial, Helvetica, sans-serif;
        font-size: 1em;
        font-weight: 600;
        padding: 3em 4em 3.6em 4em;
        margin-left: 2em;
        width: 41%;

        /******* POUR AJOUTER UN CONTOUR AU BLOCKQUOTE ********/
        border: #dadada 8px solid;
    }

    /*********    COTE RESEAUX SOCIAUX ***********/
    div.apropos div#container-picture blockquote span.sociaux {
        display: block;
        margin-top: -5em;
        margin-left: 1em;
    }

    /****************    COTE LANGAGES *************/
    div#container div.langages{
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin-left: 5em;
        width: auto;
    }

    /****************    COTE EXPERIENCES *************/
    div#container div#expePro{
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        width: auto;
        margin-left: 5em;
    }

    /******** LE CERCLE  *******/
    div#expePro h3.title:before{
        content: "";
        background: #dadada;
        border: #f3f3f3 solid .1em;
        border-radius: 50%;
        height: 1.4em;

        position: absolute;
        right: .9em;
        top: 34.5em;
        width: 1.4em;

        z-index: -1;
    }

    /******** LES FLECHES  *******/
    div#expePro div.experience-01:before{
        content: "";
        position: absolute;
        left: 21.8em;
        top: 118em;


        /* Astuce triangle */
        width: 0;
        height: 0;
        border-width: 1em;
        border-style:  solid;
        border-color: transparent transparent transparent rgba(223, 223, 223, .2);
    }

    div#expePro div.experience-02:before{
        content: "";
        position: absolute;
        left: 21.8em;
        top: 128em;

        /* Astuce triangle */
        width: 0;
        height: 0;
        border-width: 1em;
        border-style:  solid;
        border-color: transparent transparent transparent rgba(223, 223, 223, .2);
    }

    /****************   BARRE VERTICALE *****************/
    div#expePro div.pro-date{
        float: right;
        margin-top: -19em;
        border-left: #f9ecec dashed.2em;
        height: 18em;
        padding-left: 2em;

        width: auto;
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
    }

    /*************** POINT DATE  **********************/
    div#expePro div.pro-date p.experience-01-date:before{
        content: "";
        position: absolute;
        left: 25.3em;
        top: 119em;

        background: #ff6666;
        border-radius: 45%;
        height: .5em;
        width: .5em;
    }

    div#expePro div.pro-date p.experience-02-date:before{
        content: "";
        position: absolute;
        left: 25.3em;
        top: 129em;

        background: #ff6666;
        border-radius: 45%;
        height: .5em;
        width: .5em;
    }

    /****************    COTE REALISATIONS *************/
    div#container div#realiser{
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        width: auto;
    }

    div#container div#realiser h3.title{
        margin-top: 1.1em;
        padding: 0 0 0 .6em;
        width: 10em;
    }

    div#realiser h3.title:before{
        content: "";
        background: -webkit-gradient(linear, left bottom, left top, from(#dfdfdf), to(#453c3c));
        background: -webkit-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: -o-linear-gradient(bottom, #dfdfdf, #453c3c);
        background: linear-gradient(to top, #dfdfdf, #453c3c);
        height: .5em;
        width: 26%;
        position: absolute;
        left: 1.7em;
        top: 47em;

        z-index: -1;
    }

    div#realiser div.works{
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        width: auto;
        padding-left: 2em;
        padding-top: 1em;
    }

    div#realiser div.works a.work{
        float: left;
        text-decoration: none;
        width: 65%;
        margin-left: 3em;
    }

    /****************    COTE CONTACT : FORMULAIRE *************/

    div#container div.formContact{
        -webkit-box-sizing: content-box;
                box-sizing: content-box;
        margin-left: 9.1em;
        width: auto;
    }

    div#container h1.titleContact{
        color: #6c6159;
        font-family: "Bebe", Helvetica, Arial;
        font-size: 3.6em;
        margin-left: 3em;

        -webkit-box-sizing: content-box;

                box-sizing: content-box;
        width: auto;
    }

    div#container div.social{
        float: right;
        margin-top: -26.7em;
        margin-right: 2em;
    }

    div#container div.social ul{
        padding-left: 9em;
    }

    /*************** LES INPUTS *******************************/
    div#container div.nom input.inputName{
        border: #6c6159 solid .1em;
        padding: .6em;
        width: 22em;

        font-family: "Bebe", Helvetica, Arial;
        font-size: 1em;
        color: #6c6159;
        margin-bottom: 1em;
    }

    div#container div.email input.inputMail{
        border: #6c6159 solid .1em;
        padding: .6em;
        width: 22em;

        font-family: "Bebe", Helvetica, Arial;
        font-size: 1em;
        color: #6c6159;
        margin-bottom: 1em;
    }

    div#container div.formContact div.message textarea{
        border: #6c6159 solid .1em;
        padding: .6em;
        width: 22em;

        font-family: "Bebe", Helvetica, Arial;
        font-size: 1em;
        color: #6c6159;
        margin-bottom: 1em;
    }

    div#container div.formContact form button{
        padding: .6em;
        width: 24em;

        background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#453c3c));

        background: -webkit-linear-gradient(top, #dfdfdf, #453c3c);

        background: -o-linear-gradient(top, #dfdfdf, #453c3c);

        background: linear-gradient(to bottom, #dfdfdf, #453c3c);
        border: #FFFFFF solid .1em;
        cursor: pointer;
        font-family: "Bebe", Helvetica, Arial;
        font-size: 1em;
        color: #FFFFFF;
    }


    /************    GOOGLE MAPS  ****************************/
    div#container div.maps{
        float: none;
        margin-top: 0;

        width: 55%;

        -webkit-box-sizing: content-box;

                box-sizing: content-box;
        width: auto;

        padding: 5em 0 0 9em;
    }

    /************    COTE FOOTER  ***************************/
    div#container div#footer{
        background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#FFFFFF));
        background: -webkit-linear-gradient(top, #dfdfdf, #FFFFFF);
        background: -o-linear-gradient(top, #dfdfdf, #FFFFFF);
        background: linear-gradient(to bottom, #dfdfdf, #FFFFFF);
        float: left;
        margin-left: 5em;
        padding-bottom: 2em;
        width: 92%;
    }

    div#container div#footer p{
        font-family: "Bebe", Helvetica, Arial;
        font-size: 1em;
        color: #6c6159;
        padding-left: 9.5em;
        width: 50%;
    }

    /**********************    COTE ERREOR   **************/
    div.formContact form div.nom span.errorName{
        color: #AA3333;
        font-family: "Bebe", Helvetica, Arial;
        font-style: italic;
        font-size: .9em;
        font-weight: 700;

        position: absolute;
        left: 7.1em;
        top: 21.8em;
    }

    div.formContact form div.email span.errorMail{
        color: #AA3333;
        font-family: "Bebe", Helvetica, Arial;
        font-style: italic;
        font-size: .9em;
        font-weight: 700;

        position: absolute;
        left: 7.1em;
        top: 25.6em;
    }

    div.formContact form div.message span.errorMessage{
        color: #AA3333;
        font-family: "Bebe", Helvetica, Arial;
        font-style: italic;
        font-size: .9em;
        font-weight: 700;

        position: absolute;
        left: 7.1em;
        top: 29.3em;
    }

    div.formContact form div.email span.errorMail ul,
    div.formContact form div.nom span.errorName ul,
    div.formContact form div.message span.errorMessage ul{
        list-style-type: none;
    }

    /**** MESSAGE SUCCES ON SYMFONY ******/
    .flash-notice{
        color: #f3f3f3;
        border: #718C00 solid .2em;
        background: #718C00;

        font-family: "Bebe", Helvetica, Arial;
        font-size: 1em;
        font-weight: 700;
        padding: .3em;
        text-align: center;
        width: 22em;

        position: absolute;
        top: 12em;
    }

}


/*************************************************************************************************
******************                 MEDIA QUERY WIDTH : 320px                       ***************
*************************************************************************************************/
@media all and (max-width: 320px){

    /******** COTE EXPERIENCE : LE CERCLE  *******/
    div#expePro h3.title:before{
        content: "";
        background: #dadada;
        border: #f3f3f3 solid .1em;
        border-radius: 50%;
        height: 1.4em;

        position: absolute;
        right: -1.1em;
        top: 34.5em;
        width: 1.4em;

        z-index: -1;
    }

    /************    COTE FOOTER  ***************************/
    div#container div#footer{
        background: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#453c3c));
        background: -webkit-linear-gradient(top, #dfdfdf, #453c3c);
        background: -o-linear-gradient(top, #dfdfdf, #453c3c);
        background: linear-gradient(to bottom, #dfdfdf, #453c3c);
        float: left;
        margin-left: 5em;
        padding-bottom: 2em;
        width: 92%;
    }

    div#container div#footer p{
        font-family: "Bebe", Helvetica, Arial;
        font-size: 1em;
        color: #6c6159;
        padding-left: 9.5em;
        width: 50%;
    }

    /**********************    COTE ERREOR   **************/
    div.formContact form div.nom span.errorName{
        color: #AA3333;
        font-family: "Bebe", Helvetica, Arial;
        font-style: italic;
        font-size: .9em;
        font-weight: 700;

        position: absolute;
        left: 7.1em;
        top: 21.8em;
    }

    div.formContact form div.email span.errorMail{
        color: #AA3333;
        font-family: "Bebe", Helvetica, Arial;
        font-style: italic;
        font-size: .9em;
        font-weight: 700;

        position: absolute;
        left: 7.1em;
        top: 25.6em;
    }

    div.formContact form div.message span.errorMessage{
        color: #AA3333;
        font-family: "Bebe", Helvetica, Arial;
        font-style: italic;
        font-size: .9em;
        font-weight: 700;

        position: absolute;
        left: 7.1em;
        top: 29.3em;
    }

    div.formContact form div.email span.errorMail ul,
    div.formContact form div.nom span.errorName ul,
    div.formContact form div.message span.errorMessage ul{
        list-style-type: none;
    }



    /**** MESSAGE SUCCES ON SYMFONY ******/
    .flash-notice{
        color: #f3f3f3;
        border: #718C00 solid .2em;
        background: #718C00;

        font-family: "Bebe", Helvetica, Arial;
        font-size: 1em;
        font-weight: 700;
        padding: .3em;
        text-align: center;
        width: 22em;

        position: absolute;
        top: 12em;
    }



}
