{% extends 'base.html.twig' %}

{% block body %}
    <section id="main">

        <div class="apropos">

            <div class="picture">
                <img src="{{ asset('images/it-rat.jpg') }}" alt="rats" id="myPicture">
            </div>

            <div id="container-picture">
                <blockquote cite="">
                    <p>
                        Passionné des nouvelles technologies  plus précisement de la programmation web et logiciels,
                        je passe énormément de temps sur la toile à regarder les tutos et lire les codes des autres pour, apprendre et encore apprendre.
                    </p>
                    <span class="sociaux">
                        <h4>Me suivre sur :</h4>
                        <ul>
                          <li><a href="{{ asset('https://www.viadeo.com/p/0021d07a4osxj7wu') }}" id="viadeo"><img src="{{ asset('images/viadeo-icon.png') }}" alt="" id="viadeo"></a></li>
                          <li><a href="{{ asset('https://www.linkedin.com/in/moussa-mourad-60a039b6/') }}" id="linkedin"><img src="{{ asset('images/linkedin-icon.png') }}" alt="" id="linkedin"></a></li>
                        </ul>
                    </span>
                </blockquote>
            </div>
        </div>

        <div class="langages">
            <h3 class="title">Mes compétences</h3>

            <div class="html-css">
                <h4>Html5&Css3</h4>
                <div class="progress">
                    <p>Niveau de compétence...<strong>0%</strong></p>
                    <progress value="98" min="0" max="100" id="myProgressHTML"></progress>
                </div>
            </div>
            <div class="js">
                <h4>Javascript/Jquery</h4>
                <div class="progress">
                    <p>Niveau de compétence...<strong>0%</strong></p>
                    <progress value="60" min="0" max="100" id="myProgressJS"></progress>
                </div>
            </div>
            <div class="bootstrap">
                <h4>Bootstrap</h4>
                <div class="progress">
                    <p>Niveau de compétence...<strong>0%</strong></p>
                    <progress value="68" min="0" max="100" id="myProgressBootstrap"></progress>
                </div>
            </div>
            <div class="php">
                <h4>Php</h4>
                <div class="progress">
                    <p>Niveau de compétence...<strong>0%</strong></p>
                    <progress value="82" min="0" max="100" id="myProgressPHP"></progress>
                </div>
            </div>
            <div class="sql">
                <h4>Sql/Mysql</h4>
                <div class="progress">
                    <p>Niveau de compétence...<strong>0%</strong></p>
                    <progress value="75" min="0" max="100" id="myProgressSQL"></progress>
                </div>
            </div>
            <div class="seo">
                <h4>Seo</h4>
                <div class="progress">
                    <p>Niveau de compétence...<strong>0%</strong></p>
                    <progress value="85" min="0" max="100" id="myProgressSEO"></progress>
                </div>
            </div>
            <div class="responsive">
                <h4>Responsive design</h4>
                <div class="progress">
                    <p>Niveau de compétence...<strong>0%</strong></p>
                    <progress value="75" min="0" max="100" id="myProgressResponsive"></progress>
                </div>
            </div>
            <div class="sf">
                <h4>Symfony 3</h4>
                <div class="progress">
                    <p>Niveau de compétence...<strong>0%</strong></p>
                    <progress value="25" min="0" max="100" id="myProgressSF"></progress>
                </div>
            </div>
            <div class="angular">
                <h4>Angularjs 4</h4>
                <div class="progress">
                    <p>Niveau de compétence...<strong>0%</strong></p>
                    <progress value="10" min="0" max="100" id="myProgressAngular"></progress>
                </div>
            </div>
        </div>

        <div id="expePro">
            <h3 class="title">Mes expériences</h3>

            <div class="experience-01">
                <h4>Lycée jeanne d'albret - Saint-germain en laye</h4>
                <div class="subtitle">Intégrateur web : refonte de site</div>
                <p>Choix de Template et ajout de contenu sur <span>CMS SPIP</span>.</p>
            </div>

            <div class="experience-02">
                <h4>Web force 3 - Paris</h4>
                <div class="subtitle">Développeur Intégrateur web</div>
                <p>Apprentissage aux bonnes pratiques du web clôturé par un projet commun.</p>
            </div>

            <div class="pro-date">
                <p class="experience-01-date">
                    <span class="first">02/16 à 03/16</span>
                    <span class="first-02">11/15 à 12/15</span>
                </p>

                <p class="experience-02-date">
                    <span class="first">01/15 à 04/15</span>
                </p>
            </div>
        </div>

        <div id="realiser">
            <h3 class="title">Mes réalisations</h3>

            <div class="works">
                <a href="http://adf.ly/1lBPr7" class="work">
                    <div class="work-0">
                        <img src="{{ asset('images/lycee.png') }}" alt="lja" title="lycée Jeanne D'albret">
                    </div>
                    <h4 class="work-name">Lycée jeanne d'albret</h4>
                    <p class="work-tag">Développer sous le CMS Spip</p>
                </a>

                <a href="http://zipansion.com/1xDXH" class="work">
                    <div class="work-1">
                        <img src="{{ asset('images/portfolio.png') }}" alt="mon-portfolio" title="mon portfolio">
                    </div>
                    <h4 class="work-name">Dev-muss</h4>
                    <p class="work-tag">Développer sous Symfony 3.3.6</p>
                </a>
            </div>

        </div>

        <!-- kinguin-->
        <div id="king">
            <a href="http://www.jdoqocy.com/click-8843287-12193129">
                <img src="http://www.lduhtrp.net/image-8843287-12193129" width="468" height="60" alt="Kinguin.net - Save on Every Game!" border="0"/>
            </a>
        </div>
        <!-- end kinguin -->
    </section>
{% endblock %}